<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="KnowToMigrate"
           Manufacturer="KnowToMigrate Team"
           Version="1.0.0.0"
           UpgradeCode="C8B72D32-1594-4F77-8E82-7AC4E7D01A4B"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="apps\windows-wpf\Assets\KnowToMigrate.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="KnowToMigrate">
        <Component Id="MainExecutable" Bitness="always64">
          <File Id="KnowToMigrateEXE" Source="releases\windows\KnowToMigrate-1.0.0-x64.exe" KeyPath="yes">
            <Shortcut Id="DesktopShortcut"
                      Directory="DesktopFolder"
                      Name="KnowToMigrate"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="AppIcon"
                      Advertise="yes" />
            <Shortcut Id="StartMenuShortcut"
                      Directory="ProgramMenuFolder"
                      Name="KnowToMigrate"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="AppIcon"
                      Advertise="yes" />
          </File>
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder" />
    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="Main">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Package>
</Wix>
